body{
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #f7f7f7;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
}
img{
  max-width: 100%;
  display: block;
}
.menu{
  display: flex;
  justify-content: center;
  gap: 0px 20px;

}
.cabecalho{
  display: grid;
  justify-items: center;
  gap: 60px;
}
.menu a{
  padding: 1rem 2rem;
  text-decoration: none;
  background: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  color: purple;
  display: block;
  border:2px solid #f7f7f7 ;
  
}
.menu a:hover{
  border: 2px solid purple;
}
ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.conteudo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  

}
.descricao{
  background: #fff;
  display: grid;
  place-content: center;
  text-align: right ;
  padding: 40px;
  gap: 20px;
  align-content: center;
  justify-items: end;
  position: relative;

}
.descricao h1{
  font-size: 2rem;
}
.descricao::before{
  content: "";
  width: 60px;
  height: 4px;
  background: purple;
  position: absolute;
  top: 30px;
  right: -30px;
}
.introducao-image img{
    
  object-fit: cover;
  height: 100%;
  object-position: right left;

}


p, h1, h2, h3{

  margin: 0;
}
 p {
  font-size: 1.25rem;
  line-height: 1.3em;
}
.botao{
  background: purple;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;

}
.botao:hover{
  background: rgb(78, 3, 78);
  
}

.subtitulo {

  font-size: 4rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  padding: 40px;
  align-self: center;
  background-image: url(./img/onda.svg); 
}

.vantagens{
  background: #fff;
  padding: 40px;

}
.vantagens-items{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
  cursor: pointer;
  
}

@keyframes animate-vantagens{
  from{
    border-left: 0px solid purple;
  }
  to{
    border-left: 8px solid purple;
  }
}

.vantagens-items:hover{
  border-left: 8px solid purple;
  animation-name: animate-vantagens;
  animation-duration: 180ms;
}
.vantagens-items:nth-child(odd){
  background: #f7f7f7;
}
.vantagens-items h2{
  font-size: 19px;
}
.vantagens-items img{
  grid-column: 1/1;
  
}
.icones{
  color: purple;
}

.vantagens-items p{
  grid-column: 2/-1;
}
.rodape{
  width: 100%;
  background: #fff;
  padding: 40px;
  text-align: center;
  box-sizing:border-box;
}

@media (max-width:1000px){

  .conteudo-vantagem{
    grid-template-columns:  1fr;
  }
  .subtitulo{
    text-align: center;
    font-size: 3rem;
  }
}
@media (max-width: 600px){
  body{
    gap: 30px;
    margin-top: 20px;
  }
  .cabecalho{
    gap: 30px;
    

  }
  .menu{
    display: flex;
    flex-wrap: wrap;
  }
  
  .conteudo{
    grid-template-columns: 1fr;

  }
  .descricao{
    text-align: left;
    justify-items: start;
  }
  .descricao::before{
    display: none;
    
  }
}